body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

#app{
    width: 100vw;
    overflow-x: hidden;
}

:root{
    --header-background: #F6F6F7;
    --font-color-first: #222222;
    --font-color-second: #888888;
    --star-color: #C90000;
    --border-light-gray: #CCCCCC;
    --border-darc-gray: #222222;
}